flows_ELAM-2-20150409.json
[{"id":"cd886379.5b6548","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ef0b5dd8.342c18","type":"tab","label":"M (0-31)","disabled":false,"info":""},{"id":"b89aff6.b1ccb8","type":"tab","label":"M (32-63)","disabled":false,"info":""},{"id":"90f4de3f.3146f","type":"tab","label":"X (0-31)","disabled":false,"info":""},{"id":"5b1bbd36.f97f94","type":"tab","label":"X (32-63)","disabled":false,"info":""},{"id":"feb7d143.0c127","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ce86bae2.fd3658","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"2efbd554.aad8f2","type":"ui_group","z":"","name":"Temperatury","tab":"d976d8b4.321058","disp":true,"width":"17","collapse":true},{"id":"d976d8b4.321058","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"4353f961.8f92","type":"modbus-client","z":"","name":"fatek","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.35","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":3000,"reconnectTimeout":2000},{"id":"3c80d331.92504c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"green","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7f18ee5b.0b956","type":"ui_tab","z":"","name":"Temperatury","icon":"dashboard","order":2},{"id":"256e6c59.234ae4","type":"ui_group","z":"","name":"Temperature","tab":"7f18ee5b.0b956","disp":true,"width":"12","collapse":true},{"id":"9725b447.05aa98","type":"ui_tab","z":"","name":"Discrette","icon":"dashboard","order":3},{"id":"1af05f8d.6990a","type":"ui_group","z":"","name":"M Relay","tab":"9725b447.05aa98","disp":true,"width":"7","collapse":true},{"id":"f0427e3e.c70b4","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"53.1324886","longitude":" 23.1688403"},{"id":"eeb5767b.f79f2","type":"modbus-client","z":"","name":"Modbus Flex Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"15502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"5c153040.3ed8b","type":"modbus-client","z":"","name":"Modbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"14502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"73ff887f.a17038","type":"modbus-client","z":"","name":"fatek write","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.35","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"7c95cbc3.0ea12c","type":"modbus-client","z":"","name":"symulacja","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"59e306b3.a0b168","type":"ui_group","z":"","name":"WEJSCIA","tab":"9725b447.05aa98","disp":true,"width":"6","collapse":false},{"id":"e91eca36.802c88","type":"modbus-read","z":"cd886379.5b6548","name":"temperatury","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1000","quantity":"10","rate":"30","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4353f961.8f92","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":183,"y":168,"wires":[["ef1675c3.231138","c3d0c748.5160f"],[]]},{"id":"ef1675c3.231138","type":"function","z":"cd886379.5b6548","name":"scale","func":"comments=['kuchnia', 'łazienka mala', 'lazienka duza','brak','szatania','akwarium','ksiegowe','norki','niemcy','szef' ]\nmsg_o=[]\nfor (i=0;i<10;i++){\n    msg_o[i]= { payload:msg.payload[i]/10, topic: comments[i],msgin:msg.payload[i] };\n}\nreturn msg_o;","outputs":10,"noerr":0,"x":390,"y":164,"wires":[["8ee9b579.db774","4a533104.2249a"],["8ee9b579.db774"],["8ee9b579.db774"],["8ee9b579.db774"],["8ee9b579.db774"],["8ee9b579.db774"],["8ee9b579.db774","4a533104.2249a"],["8ee9b579.db774","4a533104.2249a"],["8ee9b579.db774","4a533104.2249a"],["8ee9b579.db774"]]},{"id":"8ee9b579.db774","type":"ui_chart","z":"cd886379.5b6548","name":"","group":"2efbd554.aad8f2","order":0,"width":0,"height":0,"label":"Temperatury","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":801,"y":167,"wires":[[],[]]},{"id":"c3d0c748.5160f","type":"function","z":"cd886379.5b6548","name":"scale","func":"\nmsg_o=[];\ncomments=['kuchnia', 'łazienka mala', 'lazienka duza','brak','szatania','akwarium','ksiegowe','norki','niemcy','szef' ]\ntemps=msg.payload;\ni=0\nfor (var temp in temps){\n    msg_o.push({payload:temps[temp]/10,topic: comments[i] });\n    i++\n}\nreturn [msg_o];","outputs":1,"noerr":0,"x":391,"y":286,"wires":[["b5f210f7.8802d"]]},{"id":"b5f210f7.8802d","type":"ui_chart","z":"cd886379.5b6548","name":"","group":"256e6c59.234ae4","order":1,"width":"12","height":"7","label":"Temperatury2","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":802,"y":282,"wires":[["e9220a1c.b9025"],[]]},{"id":"6711cd47.9aaa3c","type":"modbus-read","z":"ef0b5dd8.342c18","name":"Y Read","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"2000","quantity":"32","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7c95cbc3.0ea12c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":1140,"wires":[["6c15fe9b.8fef98"],[]]},{"id":"6c15fe9b.8fef98","type":"function","z":"ef0b5dd8.342c18","name":"Read 32 Discrette Value","func":"comments=[]\nmsg_o=[]\nfor (i=0;i<32;i++){\n    msg_o[i]= { payload:msg.payload[i], topic:i };\n}\nreturn msg_o;","outputs":32,"noerr":0,"x":350,"y":1140,"wires":[["ac0909eb.e40528"],["9ded430b.49d3c8"],["f35b615c.e080b"],["56669e41.13eba"],["df611467.943598"],["ef2abfcd.c2b688"],["477fd57.4a2ba2c"],["e0562994.f9aa3"],["f8b99fee.f9156"],["40f9f5b1.3cb0cc"],["a9ea7ce0.2bfba"],["91cfeba1.b7cc5"],["589f67b2.389fd"],["8924d2ec.ef72b8"],["e6032e18.43505"],["721fb064.d79718"],["6c61e06d.2c4668"],["3440d554.a5e9b2"],["7cf987c8.ae4868"],["d6d0ad62.5ebc28"],["64e85978.a27c1"],["ebd86368.b3059"],["a52cb7b.4ad41c8"],["d5e6496d.9077c8"],["6e0cf2b2.68d30c"],["82a0b07f.becec8"],["788cf14.0f2011"],["f0662f51.82a35"],["4c437a40.d6ad3c"],["2dbb57a8.e60a18"],["e8cc9554.44033"],["cd44626.f1a782"]]},{"id":"ac0909eb.e40528","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S0","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":100,"wires":[["939e732e.45e6e8"]]},{"id":"4a533104.2249a","type":"debug","z":"cd886379.5b6548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":614,"y":47,"wires":[]},{"id":"aa47f2d0.86772","type":"debug","z":"ef0b5dd8.342c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1570,"y":1120,"wires":[]},{"id":"9ded430b.49d3c8","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S1","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":160,"wires":[["6f4b55a9.729adc"]]},{"id":"f35b615c.e080b","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S2","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":220,"wires":[["28b05ee6.58a2b2"]]},{"id":"56669e41.13eba","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S3","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":280,"wires":[["7368a2ab.7ea964"]]},{"id":"df611467.943598","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S4","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":340,"wires":[["ae291719.0a6798"]]},{"id":"ef2abfcd.c2b688","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S5","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":400,"wires":[["75afd444.195d4c"]]},{"id":"477fd57.4a2ba2c","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S6","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"6","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":460,"wires":[["459f9425.7c1e24"]]},{"id":"e0562994.f9aa3","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S7","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"7","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":520,"wires":[["32d93326.525614"]]},{"id":"f8b99fee.f9156","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S8","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"8","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":580,"wires":[["6d7fceb.19c423"]]},{"id":"40f9f5b1.3cb0cc","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S9","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"9","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":640,"wires":[["c675cc4e.0268b"]]},{"id":"a9ea7ce0.2bfba","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S10","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"10","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":700,"wires":[["c8266f67.a4d0a"]]},{"id":"91cfeba1.b7cc5","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S11","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":760,"wires":[["1706a431.a8c0fc"]]},{"id":"589f67b2.389fd","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S12","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"12","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":820,"wires":[["595f9590.c49334"]]},{"id":"8924d2ec.ef72b8","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S13","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"13","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":880,"wires":[["5b34115a.9f07f8"]]},{"id":"e6032e18.43505","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S14","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"14","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":940,"wires":[["c9e29a6c.f23b78"]]},{"id":"721fb064.d79718","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S15","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"15","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1000,"wires":[["c18f1b3e.71d39"]]},{"id":"6c61e06d.2c4668","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S16","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":17,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"16","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1060,"wires":[["40a628b4.60ae1"]]},{"id":"3440d554.a5e9b2","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S17","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":18,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"17","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1120,"wires":[["5e79ffcd.b4b9c8"]]},{"id":"7cf987c8.ae4868","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S18","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"18","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1180,"wires":[["2c14b57c.1edc7a"]]},{"id":"d6d0ad62.5ebc28","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S19","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":20,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"19","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1240,"wires":[["9b401235.e5e6f"]]},{"id":"64e85978.a27c1","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S20","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":21,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"20","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1300,"wires":[["ac3d7797.148358"]]},{"id":"ebd86368.b3059","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S21","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":22,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"21","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1360,"wires":[["2cd3e1f4.32c8b6"]]},{"id":"a52cb7b.4ad41c8","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S22","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":23,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"22","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1420,"wires":[["ccecf87b.73e148"]]},{"id":"d5e6496d.9077c8","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S23","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":24,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"23","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1480,"wires":[["6e77a3df.cd9efc"]]},{"id":"6e0cf2b2.68d30c","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S24","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":25,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"24","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1540,"wires":[["bc829d11.7392b8"]]},{"id":"82a0b07f.becec8","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S25","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":26,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"25","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1600,"wires":[["585fdcd4.bfcaec"]]},{"id":"788cf14.0f2011","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S26","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":27,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"26","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1660,"wires":[["4b243d95.5f3cb4"]]},{"id":"f0662f51.82a35","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S27","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":28,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"27","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1720,"wires":[["7ce35552.16c474"]]},{"id":"4c437a40.d6ad3c","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S28","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":29,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"28","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1780,"wires":[["6864147c.8ed884"]]},{"id":"2dbb57a8.e60a18","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S29","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":30,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"29","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1840,"wires":[["b97e444.2151238"]]},{"id":"e8cc9554.44033","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S30","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":31,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"30","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1900,"wires":[["c14b0393.2615b8"]]},{"id":"cd44626.f1a782","type":"ui_switch","z":"ef0b5dd8.342c18","name":"S31","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":32,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"31","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1960,"wires":[["918f7484.98fdc"]]},{"id":"4f6045a.ec88e3c","type":"function","z":"ef0b5dd8.342c18","name":"Modbus Flex Write","func":"msg_o={payload:{ 'address': 2000+Number(msg.topic), 'value': msg.payload, 'fc': 5, 'unitid': 1, 'quantity': 1 }}\nreturn msg_o;","outputs":1,"noerr":0,"x":1190,"y":1120,"wires":[["a5268dcf.b63848"]]},{"id":"939e732e.45e6e8","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":100,"wires":[["4f6045a.ec88e3c"]]},{"id":"6f4b55a9.729adc","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":160,"wires":[["4f6045a.ec88e3c"]]},{"id":"28b05ee6.58a2b2","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":220,"wires":[["4f6045a.ec88e3c"]]},{"id":"7368a2ab.7ea964","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":280,"wires":[["4f6045a.ec88e3c"]]},{"id":"ae291719.0a6798","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":340,"wires":[["4f6045a.ec88e3c"]]},{"id":"75afd444.195d4c","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":400,"wires":[["4f6045a.ec88e3c"]]},{"id":"459f9425.7c1e24","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":460,"wires":[["4f6045a.ec88e3c"]]},{"id":"32d93326.525614","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":520,"wires":[["4f6045a.ec88e3c"]]},{"id":"6d7fceb.19c423","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":580,"wires":[["4f6045a.ec88e3c"]]},{"id":"c675cc4e.0268b","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":640,"wires":[["4f6045a.ec88e3c"]]},{"id":"c8266f67.a4d0a","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":700,"wires":[["4f6045a.ec88e3c"]]},{"id":"1706a431.a8c0fc","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":760,"wires":[["4f6045a.ec88e3c"]]},{"id":"595f9590.c49334","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":820,"wires":[["4f6045a.ec88e3c"]]},{"id":"5b34115a.9f07f8","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":880,"wires":[["4f6045a.ec88e3c"]]},{"id":"c9e29a6c.f23b78","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":940,"wires":[["4f6045a.ec88e3c"]]},{"id":"c18f1b3e.71d39","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1000,"wires":[["4f6045a.ec88e3c"]]},{"id":"40a628b4.60ae1","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1060,"wires":[["4f6045a.ec88e3c"]]},{"id":"5e79ffcd.b4b9c8","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1120,"wires":[["4f6045a.ec88e3c"]]},{"id":"2c14b57c.1edc7a","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1180,"wires":[["4f6045a.ec88e3c"]]},{"id":"9b401235.e5e6f","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1240,"wires":[["4f6045a.ec88e3c"]]},{"id":"ac3d7797.148358","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1300,"wires":[["4f6045a.ec88e3c"]]},{"id":"2cd3e1f4.32c8b6","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1360,"wires":[["4f6045a.ec88e3c"]]},{"id":"ccecf87b.73e148","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1420,"wires":[["4f6045a.ec88e3c"]]},{"id":"6e77a3df.cd9efc","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1480,"wires":[["4f6045a.ec88e3c"]]},{"id":"bc829d11.7392b8","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1540,"wires":[["4f6045a.ec88e3c"]]},{"id":"585fdcd4.bfcaec","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1600,"wires":[["4f6045a.ec88e3c"]]},{"id":"4b243d95.5f3cb4","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1660,"wires":[["4f6045a.ec88e3c"]]},{"id":"7ce35552.16c474","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1720,"wires":[["4f6045a.ec88e3c"]]},{"id":"6864147c.8ed884","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1780,"wires":[["4f6045a.ec88e3c"]]},{"id":"b97e444.2151238","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1840,"wires":[["4f6045a.ec88e3c"]]},{"id":"c14b0393.2615b8","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1900,"wires":[["4f6045a.ec88e3c"]]},{"id":"918f7484.98fdc","type":"rbe","z":"ef0b5dd8.342c18","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":1960,"wires":[["4f6045a.ec88e3c"]]},{"id":"a5268dcf.b63848","type":"modbus-flex-write","z":"ef0b5dd8.342c18","name":"","showStatusActivities":false,"showErrors":false,"server":"7c95cbc3.0ea12c","x":1390,"y":1120,"wires":[["aa47f2d0.86772"],[]]},{"id":"e9220a1c.b9025","type":"file","z":"cd886379.5b6548","name":"write","filename":"C:\\Users\\User\\Documents\\PYCHARM\\node-red-fatek\\log\\temperatury2.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1030,"y":280,"wires":[[]]},{"id":"2483e19c.9f241e","type":"file in","z":"cd886379.5b6548","name":"read","filename":"C:\\Users\\User\\Documents\\PYCHARM\\node-red-fatek\\log\\temperatury2.txt","format":"utf8","chunk":false,"sendError":false,"x":290,"y":340,"wires":[["69b2c0e5.9ae198"]]},{"id":"69b2c0e5.9ae198","type":"json","z":"cd886379.5b6548","name":"","property":"payload","action":"","pretty":false,"x":430,"y":340,"wires":[["b5f210f7.8802d"]]},{"id":"37dc1d35.763732","type":"inject","z":"cd886379.5b6548","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":120,"y":340,"wires":[["2483e19c.9f241e"]]},{"id":"2268c6c1.fde6f2","type":"modbus-read","z":"b89aff6.b1ccb8","name":"M Read","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"2032","quantity":"32","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7c95cbc3.0ea12c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":1280,"wires":[["1ed56bcb.6923fc"],[]]},{"id":"1ed56bcb.6923fc","type":"function","z":"b89aff6.b1ccb8","name":"Read 32 Discrette Value","func":"comments=[]\nmsg_o=[]\nfor (i=0;i<32;i++){\n    msg_o[i]= { payload:msg.payload[i], topic:i+32 };\n}\nreturn msg_o;","outputs":32,"noerr":0,"x":390,"y":1280,"wires":[["59b13739.a9ae68"],["674dada0.a853bc"],["a51d5ced.8ac76"],["ee622189.cc465"],["cdb828f5.afcbb8"],["b4590907.c37108"],["5bab4c21.d26b44"],["2a17b789.f24838"],["dcbd688c.434128"],["97d30f2e.281e98"],["2337941d.44bd44"],["23cae99e.8d614e"],["e004b3d.7d4f2d"],["3714a2e5.d345f6"],["45807f24.68f56"],["9f03b3e8.401d78"],["8ee9128.82d2c7"],["5f3a94a4.402224"],["ff917d34.f269b"],["4fd5abb7.4e87bc"],["386e6344.7d0f6c"],["c926297f.eb6a"],["755b0a43.8536fc"],["eb3e07fe.e2c398"],["547225db.755414"],["69d31ff8.b30058"],["74fcc98.7e384b8"],["9bdb3795.5fc18"],["69553376.4dc594"],["82ee53f0.73c1c8"],["597957ef.46bf68"],["ef615598.3691d"]]},{"id":"59b13739.a9ae68","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S32","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":33,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":240,"wires":[["b9340281.62d38"]]},{"id":"1f108cc0.1c0123","type":"debug","z":"b89aff6.b1ccb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1610,"y":1260,"wires":[]},{"id":"674dada0.a853bc","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S33","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":34,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":300,"wires":[["7a859e9.00a6b6"]]},{"id":"a51d5ced.8ac76","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S34","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":35,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":360,"wires":[["cb40d8b.38e29a8"]]},{"id":"ee622189.cc465","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S35","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":36,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":420,"wires":[["171de3cc.97dbfc"]]},{"id":"cdb828f5.afcbb8","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S36","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":37,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":480,"wires":[["56dace5a.6bf0c"]]},{"id":"b4590907.c37108","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S37","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":38,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":540,"wires":[["ed462071.317d5"]]},{"id":"5bab4c21.d26b44","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S38","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":39,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"6","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":600,"wires":[["610357fd.11be78"]]},{"id":"2a17b789.f24838","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S39","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":40,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"7","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":660,"wires":[["39f50d86.87acd2"]]},{"id":"dcbd688c.434128","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S40","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":41,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"8","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":720,"wires":[["daf24b78.8ebf8"]]},{"id":"97d30f2e.281e98","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S41","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":42,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"9","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":780,"wires":[["5299444c.b28654"]]},{"id":"2337941d.44bd44","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S42","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":43,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"10","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":840,"wires":[["336d7d9d.30f542"]]},{"id":"23cae99e.8d614e","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S43","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":44,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":900,"wires":[["29a5ad3e.2bfd7a"]]},{"id":"e004b3d.7d4f2d","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S44","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":45,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"12","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":960,"wires":[["c4cca938.67dcd8"]]},{"id":"3714a2e5.d345f6","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S45","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":46,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"13","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1020,"wires":[["fc03d739.0423f"]]},{"id":"45807f24.68f56","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S46","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":47,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"14","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1080,"wires":[["943b9ba0.6a47f8"]]},{"id":"9f03b3e8.401d78","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S47","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":48,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"15","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1140,"wires":[["430eda43.4fbe94"]]},{"id":"8ee9128.82d2c7","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S48","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":49,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"16","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1200,"wires":[["5f964dd2.498394"]]},{"id":"5f3a94a4.402224","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S49","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":50,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"17","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1260,"wires":[["3d9d5035.73a87"]]},{"id":"ff917d34.f269b","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S50","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":51,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"18","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1320,"wires":[["f5fb7a2e.6994d8"]]},{"id":"4fd5abb7.4e87bc","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S51","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":52,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"19","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1380,"wires":[["d25a6a4a.6120b8"]]},{"id":"386e6344.7d0f6c","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S52","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":53,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"20","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1440,"wires":[["e853c82a.2c2498"]]},{"id":"c926297f.eb6a","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S53","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":54,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"21","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1500,"wires":[["33f6408b.021bb"]]},{"id":"755b0a43.8536fc","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S54","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":55,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"22","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1560,"wires":[["c20fe8ca.58ab7"]]},{"id":"eb3e07fe.e2c398","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S55","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":56,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"23","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1620,"wires":[["cae28d59.b979e"]]},{"id":"547225db.755414","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S56","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":57,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"24","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1680,"wires":[["23decee6.b0aa3a"]]},{"id":"69d31ff8.b30058","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S57","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":58,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"25","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1740,"wires":[["58c5738.7336a0c"]]},{"id":"74fcc98.7e384b8","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S58","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":59,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"26","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1800,"wires":[["7045a3c4.fe538c"]]},{"id":"9bdb3795.5fc18","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S59","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":60,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"27","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1860,"wires":[["cebd8d6f.ac4be8"]]},{"id":"69553376.4dc594","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S60","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":61,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"28","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1920,"wires":[["c153ca34.50b05"]]},{"id":"82ee53f0.73c1c8","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S61","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":62,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"29","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1980,"wires":[["3a268166.ebd8e6"]]},{"id":"597957ef.46bf68","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S62","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":63,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"30","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":2040,"wires":[["71fc66e2.bc8d68"]]},{"id":"ef615598.3691d","type":"ui_switch","z":"b89aff6.b1ccb8","name":"S63","label":"Switch {{msg.topic}}","group":"1af05f8d.6990a","order":64,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"31","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":2100,"wires":[["aa2af5f4.21d598"]]},{"id":"7be06d73.001564","type":"function","z":"b89aff6.b1ccb8","name":"Modbus Flex Write","func":"msg_o={payload:{ 'address': 2032+Number(msg.topic), 'value': msg.payload, 'fc': 5, 'unitid': 1, 'quantity': 1 }}\nreturn msg_o;","outputs":1,"noerr":0,"x":1230,"y":1260,"wires":[["8ad881a3.87744"]]},{"id":"b9340281.62d38","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":240,"wires":[["7be06d73.001564"]]},{"id":"7a859e9.00a6b6","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":300,"wires":[["7be06d73.001564"]]},{"id":"cb40d8b.38e29a8","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":360,"wires":[["7be06d73.001564"]]},{"id":"171de3cc.97dbfc","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":420,"wires":[["7be06d73.001564"]]},{"id":"56dace5a.6bf0c","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":480,"wires":[["7be06d73.001564"]]},{"id":"ed462071.317d5","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":540,"wires":[["7be06d73.001564"]]},{"id":"610357fd.11be78","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":600,"wires":[["7be06d73.001564"]]},{"id":"39f50d86.87acd2","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":660,"wires":[["7be06d73.001564"]]},{"id":"daf24b78.8ebf8","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":720,"wires":[["7be06d73.001564"]]},{"id":"5299444c.b28654","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":780,"wires":[["7be06d73.001564"]]},{"id":"336d7d9d.30f542","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":840,"wires":[["7be06d73.001564"]]},{"id":"29a5ad3e.2bfd7a","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":900,"wires":[["7be06d73.001564"]]},{"id":"c4cca938.67dcd8","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":960,"wires":[["7be06d73.001564"]]},{"id":"fc03d739.0423f","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1020,"wires":[["7be06d73.001564"]]},{"id":"943b9ba0.6a47f8","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1080,"wires":[["7be06d73.001564"]]},{"id":"430eda43.4fbe94","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1140,"wires":[["7be06d73.001564"]]},{"id":"5f964dd2.498394","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1200,"wires":[["7be06d73.001564"]]},{"id":"3d9d5035.73a87","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1260,"wires":[["7be06d73.001564"]]},{"id":"f5fb7a2e.6994d8","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1320,"wires":[["7be06d73.001564"]]},{"id":"d25a6a4a.6120b8","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1380,"wires":[["7be06d73.001564"]]},{"id":"e853c82a.2c2498","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1440,"wires":[["7be06d73.001564"]]},{"id":"33f6408b.021bb","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1500,"wires":[["7be06d73.001564"]]},{"id":"c20fe8ca.58ab7","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1560,"wires":[["7be06d73.001564"]]},{"id":"cae28d59.b979e","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1620,"wires":[["7be06d73.001564"]]},{"id":"23decee6.b0aa3a","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1680,"wires":[["7be06d73.001564"]]},{"id":"58c5738.7336a0c","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1740,"wires":[["7be06d73.001564"]]},{"id":"7045a3c4.fe538c","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1800,"wires":[["7be06d73.001564"]]},{"id":"cebd8d6f.ac4be8","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1860,"wires":[["7be06d73.001564"]]},{"id":"c153ca34.50b05","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1920,"wires":[["7be06d73.001564"]]},{"id":"3a268166.ebd8e6","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1980,"wires":[["7be06d73.001564"]]},{"id":"71fc66e2.bc8d68","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":2040,"wires":[["7be06d73.001564"]]},{"id":"aa2af5f4.21d598","type":"rbe","z":"b89aff6.b1ccb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":2100,"wires":[["7be06d73.001564"]]},{"id":"8ad881a3.87744","type":"modbus-flex-write","z":"b89aff6.b1ccb8","name":"","showStatusActivities":false,"showErrors":false,"server":"7c95cbc3.0ea12c","x":1430,"y":1260,"wires":[["1f108cc0.1c0123"],[]]},{"id":"79a0b53.96617cc","type":"modbus-read","z":"90f4de3f.3146f","name":"X Read","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"1000","quantity":"32","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7c95cbc3.0ea12c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":90,"y":1100,"wires":[["50481caa.7c50a4"],[]]},{"id":"50481caa.7c50a4","type":"function","z":"90f4de3f.3146f","name":"Read 32 Discrette Value","func":"comments=[]\nmsg_o=[]\nfor (i=0;i<32;i++){\n    msg_o[i]= { payload:msg.payload[i], topic:i };\n}\nreturn msg_o;","outputs":32,"noerr":0,"x":330,"y":1100,"wires":[["fe68b193.b14fb"],["92cfd444.b92768"],["3a87530a.2104b4"],["7b966e2f.3dadc"],["b22dac98.38f4"],["aea47025.bcd4b"],["b0b3490d.f2ea58"],["110fd790.6c4d58"],["fe473f2f.93a98"],["311c9f70.1e7a2"],["da19a204.809578"],["f45f200a.1c155"],["1b41dc14.c0f48c"],["2359d3a3.43d614"],["3337746.64c038c"],["112802d5.86a325"],["ac5833c7.55b72"],["1a74be32.4d8402"],["4afd9d15.166cbc"],["2a04380a.b2eb28"],["68822705.e763e8"],["3b4f2010.b70f3"],["57d33d86.6964ec"],["24350895.a5cba8"],["1473e63.f3a841a"],["8f791abe.325ee8"],["3d30efe7.5303c"],["d3a9427c.a78038"],["a51d4173.e566d"],["bdecc90.6c4d2b8"],["d1046f7f.655d88"],["fd2d06cd.255dc"]]},{"id":"fe68b193.b14fb","type":"ui_switch","z":"90f4de3f.3146f","name":"S0","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":60,"wires":[["14aede5c.c753da"]]},{"id":"5affa409.c63334","type":"debug","z":"90f4de3f.3146f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":1080,"wires":[]},{"id":"92cfd444.b92768","type":"ui_switch","z":"90f4de3f.3146f","name":"S1","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":120,"wires":[["58405ef4.abf058"]]},{"id":"3a87530a.2104b4","type":"ui_switch","z":"90f4de3f.3146f","name":"S2","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":180,"wires":[["f7fbdee7.bb2b58"]]},{"id":"7b966e2f.3dadc","type":"ui_switch","z":"90f4de3f.3146f","name":"S3","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":240,"wires":[["15c5d11c.bdcff7"]]},{"id":"b22dac98.38f4","type":"ui_switch","z":"90f4de3f.3146f","name":"S4","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":300,"wires":[["89406ab4.ebdd28"]]},{"id":"aea47025.bcd4b","type":"ui_switch","z":"90f4de3f.3146f","name":"S5","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":360,"wires":[["3754527.2c4fcae"]]},{"id":"b0b3490d.f2ea58","type":"ui_switch","z":"90f4de3f.3146f","name":"S6","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"6","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":420,"wires":[["57431da9.521b7c"]]},{"id":"110fd790.6c4d58","type":"ui_switch","z":"90f4de3f.3146f","name":"S7","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"7","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":480,"wires":[["e620c3b9.eba0a"]]},{"id":"fe473f2f.93a98","type":"ui_switch","z":"90f4de3f.3146f","name":"S8","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"8","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":540,"wires":[["63436ada.063c74"]]},{"id":"311c9f70.1e7a2","type":"ui_switch","z":"90f4de3f.3146f","name":"S9","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"9","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":600,"wires":[["5999da07.0cb9fc"]]},{"id":"da19a204.809578","type":"ui_switch","z":"90f4de3f.3146f","name":"S10","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"10","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":660,"wires":[["80bbb8e2.bc1a"]]},{"id":"f45f200a.1c155","type":"ui_switch","z":"90f4de3f.3146f","name":"S11","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":720,"wires":[["bb7750c.4deb7b"]]},{"id":"1b41dc14.c0f48c","type":"ui_switch","z":"90f4de3f.3146f","name":"S12","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"12","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":780,"wires":[["f0a7261.2736758"]]},{"id":"2359d3a3.43d614","type":"ui_switch","z":"90f4de3f.3146f","name":"S13","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"13","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":840,"wires":[["9b0a4aaf.c5a89"]]},{"id":"3337746.64c038c","type":"ui_switch","z":"90f4de3f.3146f","name":"S14","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"14","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":900,"wires":[["7c193a37.925734"]]},{"id":"112802d5.86a325","type":"ui_switch","z":"90f4de3f.3146f","name":"S15","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"15","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":960,"wires":[["3c7953fe.70b75c"]]},{"id":"ac5833c7.55b72","type":"ui_switch","z":"90f4de3f.3146f","name":"S16","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":17,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"16","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1020,"wires":[["df81e7c0.de71a8"]]},{"id":"1a74be32.4d8402","type":"ui_switch","z":"90f4de3f.3146f","name":"S17","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":18,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"17","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1080,"wires":[["dc87de25.9319c8"]]},{"id":"4afd9d15.166cbc","type":"ui_switch","z":"90f4de3f.3146f","name":"S18","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"18","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1140,"wires":[["1e336c34.387abc"]]},{"id":"2a04380a.b2eb28","type":"ui_switch","z":"90f4de3f.3146f","name":"S19","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":20,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"19","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1200,"wires":[["f06e5d52.082718"]]},{"id":"68822705.e763e8","type":"ui_switch","z":"90f4de3f.3146f","name":"S20","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":21,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"20","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1260,"wires":[["ba75cd72.d2b598"]]},{"id":"3b4f2010.b70f3","type":"ui_switch","z":"90f4de3f.3146f","name":"S21","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":22,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"21","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1320,"wires":[["7069f812.c5bd58"]]},{"id":"57d33d86.6964ec","type":"ui_switch","z":"90f4de3f.3146f","name":"S22","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":23,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"22","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1380,"wires":[["7137e8.97acb018"]]},{"id":"24350895.a5cba8","type":"ui_switch","z":"90f4de3f.3146f","name":"S23","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":24,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"23","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1440,"wires":[["875a1aec.6c7d4"]]},{"id":"1473e63.f3a841a","type":"ui_switch","z":"90f4de3f.3146f","name":"S24","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":25,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"24","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1500,"wires":[["833fce91.5367b"]]},{"id":"8f791abe.325ee8","type":"ui_switch","z":"90f4de3f.3146f","name":"S25","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":26,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"25","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1560,"wires":[["830e9fea.509878"]]},{"id":"3d30efe7.5303c","type":"ui_switch","z":"90f4de3f.3146f","name":"S26","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":27,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"26","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1620,"wires":[["b68518e6.c695d8"]]},{"id":"d3a9427c.a78038","type":"ui_switch","z":"90f4de3f.3146f","name":"S27","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":28,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"27","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1680,"wires":[["2b5451cc.86a75e"]]},{"id":"a51d4173.e566d","type":"ui_switch","z":"90f4de3f.3146f","name":"S28","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":29,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"28","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1740,"wires":[["f9a51b5e.cbd7"]]},{"id":"bdecc90.6c4d2b8","type":"ui_switch","z":"90f4de3f.3146f","name":"S29","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":30,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"29","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1800,"wires":[["e1170418.63949"]]},{"id":"d1046f7f.655d88","type":"ui_switch","z":"90f4de3f.3146f","name":"S30","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":31,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"30","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1860,"wires":[["7597234e.df414c"]]},{"id":"fd2d06cd.255dc","type":"ui_switch","z":"90f4de3f.3146f","name":"S31","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":32,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"31","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1920,"wires":[["95c69a19.82a8b"]]},{"id":"6d58d564.5151d4","type":"function","z":"90f4de3f.3146f","name":"Modbus Flex Write","func":"msg_o={payload:{ 'address': 1000+Number(msg.topic), 'value': msg.payload, 'fc': 5, 'unitid': 1, 'quantity': 1 }}\nreturn msg_o;","outputs":1,"noerr":0,"x":1170,"y":1080,"wires":[["b8928918.85668"]]},{"id":"14aede5c.c753da","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":60,"wires":[["6d58d564.5151d4"]]},{"id":"58405ef4.abf058","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":120,"wires":[["6d58d564.5151d4"]]},{"id":"f7fbdee7.bb2b58","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":180,"wires":[["6d58d564.5151d4"]]},{"id":"15c5d11c.bdcff7","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":240,"wires":[["6d58d564.5151d4"]]},{"id":"89406ab4.ebdd28","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":300,"wires":[["6d58d564.5151d4"]]},{"id":"3754527.2c4fcae","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":360,"wires":[["6d58d564.5151d4"]]},{"id":"57431da9.521b7c","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":420,"wires":[["6d58d564.5151d4"]]},{"id":"e620c3b9.eba0a","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":480,"wires":[["6d58d564.5151d4"]]},{"id":"63436ada.063c74","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":540,"wires":[["6d58d564.5151d4"]]},{"id":"5999da07.0cb9fc","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":600,"wires":[["6d58d564.5151d4"]]},{"id":"80bbb8e2.bc1a","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":660,"wires":[["6d58d564.5151d4"]]},{"id":"bb7750c.4deb7b","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":720,"wires":[["6d58d564.5151d4"]]},{"id":"f0a7261.2736758","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":780,"wires":[["6d58d564.5151d4"]]},{"id":"9b0a4aaf.c5a89","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":840,"wires":[["6d58d564.5151d4"]]},{"id":"7c193a37.925734","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":900,"wires":[["6d58d564.5151d4"]]},{"id":"3c7953fe.70b75c","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":960,"wires":[["6d58d564.5151d4"]]},{"id":"df81e7c0.de71a8","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1020,"wires":[["6d58d564.5151d4"]]},{"id":"dc87de25.9319c8","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1080,"wires":[["6d58d564.5151d4"]]},{"id":"1e336c34.387abc","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1140,"wires":[["6d58d564.5151d4"]]},{"id":"f06e5d52.082718","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1200,"wires":[["6d58d564.5151d4"]]},{"id":"ba75cd72.d2b598","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1260,"wires":[["6d58d564.5151d4"]]},{"id":"7069f812.c5bd58","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1320,"wires":[["6d58d564.5151d4"]]},{"id":"7137e8.97acb018","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1380,"wires":[["6d58d564.5151d4"]]},{"id":"875a1aec.6c7d4","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1440,"wires":[["6d58d564.5151d4"]]},{"id":"833fce91.5367b","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1500,"wires":[["6d58d564.5151d4"]]},{"id":"830e9fea.509878","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1560,"wires":[["6d58d564.5151d4"]]},{"id":"b68518e6.c695d8","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1620,"wires":[["6d58d564.5151d4"]]},{"id":"2b5451cc.86a75e","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1680,"wires":[["6d58d564.5151d4"]]},{"id":"f9a51b5e.cbd7","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1740,"wires":[["6d58d564.5151d4"]]},{"id":"e1170418.63949","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1800,"wires":[["6d58d564.5151d4"]]},{"id":"7597234e.df414c","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1860,"wires":[["6d58d564.5151d4"]]},{"id":"95c69a19.82a8b","type":"rbe","z":"90f4de3f.3146f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1920,"wires":[["6d58d564.5151d4"]]},{"id":"b8928918.85668","type":"modbus-flex-write","z":"90f4de3f.3146f","name":"","showStatusActivities":false,"showErrors":false,"server":"7c95cbc3.0ea12c","x":1370,"y":1080,"wires":[["5affa409.c63334"],[]]},{"id":"818b7f9e.2c6d9","type":"modbus-read","z":"5b1bbd36.f97f94","name":"M Read","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"1032","quantity":"32","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7c95cbc3.0ea12c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":1100,"wires":[["afccef72.2eadf"],[]]},{"id":"afccef72.2eadf","type":"function","z":"5b1bbd36.f97f94","name":"Read 32 Discrette Value","func":"comments=[]\nmsg_o=[]\nfor (i=0;i<32;i++){\n    msg_o[i]= { payload:msg.payload[i], topic:i+32 };\n}\nreturn msg_o;","outputs":32,"noerr":0,"x":390,"y":1100,"wires":[["1722e32.7f6221d"],["53d3e5a8.3e9914"],["5a3b86fc.3127d8"],["d3dcad75.2c0ce8"],["b683998d.1c27"],["980db743.e7c928"],["2742162a.92b88a"],["ac840933.d978c"],["90abd21f.0a0938"],["5d6a7ba3.59c04c"],["ba70c298.664978"],["2d50cb7c.935fa4"],["3ff11bd5.9f8b3c"],["529579df.6b1c28"],["48ccbe92.c8b8b"],["266c1258.2e0c66"],["a572bcf8.8961a8"],["a8932cb2.151e28"],["748c14c7.e8a3e4"],["67d5c941.c21918"],["912866b7.60694"],["472195e6.05b09c"],["596df887.9b8618"],["7af1cd8.04707b4"],["798fb68c.4c162"],["25f36c70.bf5084"],["661e1602.877398"],["877f6ed4.ae07d8"],["23922ecd.99fc62"],["7b1bdc0.b3a0224"],["8be65bb8.ce9318"],["a3d80626.9d83a8"]]},{"id":"1722e32.7f6221d","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S32","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":33,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":60,"wires":[["55c24147.c1da28"]]},{"id":"97dabcc2.5322f8","type":"debug","z":"5b1bbd36.f97f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1610,"y":1080,"wires":[]},{"id":"53d3e5a8.3e9914","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S33","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":34,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":120,"wires":[["a77c843e.931e5"]]},{"id":"5a3b86fc.3127d8","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S34","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":35,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":180,"wires":[["32bea9f2.c7dcae"]]},{"id":"d3dcad75.2c0ce8","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S35","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":36,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":240,"wires":[["e8766422.bbcd48"]]},{"id":"b683998d.1c27","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S36","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":37,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":300,"wires":[["ac7beac1.df4358"]]},{"id":"980db743.e7c928","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S37","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":38,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":360,"wires":[["d60798d9.a614c8"]]},{"id":"2742162a.92b88a","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S38","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":39,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"6","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":420,"wires":[["c9cb7d62.92fa3"]]},{"id":"ac840933.d978c","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S39","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":40,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"7","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":480,"wires":[["873cde06.269a78"]]},{"id":"90abd21f.0a0938","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S40","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":41,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"8","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":540,"wires":[["e71a5fa.241a42"]]},{"id":"5d6a7ba3.59c04c","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S41","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":42,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"9","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":600,"wires":[["85028811.173138"]]},{"id":"ba70c298.664978","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S42","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":43,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"10","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":660,"wires":[["b3df9927.ac1dd8"]]},{"id":"2d50cb7c.935fa4","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S43","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":44,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"11","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":720,"wires":[["2593383f.5e77"]]},{"id":"3ff11bd5.9f8b3c","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S44","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":45,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"12","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":780,"wires":[["16f9d5d7.7e09c2"]]},{"id":"529579df.6b1c28","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S45","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":46,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"13","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":840,"wires":[["14cf4492.dfc473"]]},{"id":"48ccbe92.c8b8b","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S46","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":47,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"14","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":900,"wires":[["c9e34406.d167e8"]]},{"id":"266c1258.2e0c66","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S47","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":48,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"15","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":960,"wires":[["7b8c4f92.1555f8"]]},{"id":"a572bcf8.8961a8","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S48","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":49,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"16","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1020,"wires":[["98a04467.b82848"]]},{"id":"a8932cb2.151e28","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S49","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":50,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"17","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1080,"wires":[["456d2417.22ad34"]]},{"id":"748c14c7.e8a3e4","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S50","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":51,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"18","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1140,"wires":[["dcdd73ca.ce6f4"]]},{"id":"67d5c941.c21918","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S51","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":52,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"19","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1200,"wires":[["8f8e7337.5f185"]]},{"id":"912866b7.60694","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S52","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":53,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"20","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1260,"wires":[["cfac30ce.315a28"]]},{"id":"472195e6.05b09c","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S53","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":54,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"21","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1320,"wires":[["2509ac59.cea09c"]]},{"id":"596df887.9b8618","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S54","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":55,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"22","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1380,"wires":[["dc069241.b3e348"]]},{"id":"7af1cd8.04707b4","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S55","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":56,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"23","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1440,"wires":[["437c448.2aa9c3c"]]},{"id":"798fb68c.4c162","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S56","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":57,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"24","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1500,"wires":[["7e72caa.98d9cb4"]]},{"id":"25f36c70.bf5084","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S57","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":58,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"25","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1560,"wires":[["deaf2f7c.a5f78"]]},{"id":"661e1602.877398","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S58","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":59,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"26","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1620,"wires":[["420f1efb.bf1f28"]]},{"id":"877f6ed4.ae07d8","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S59","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":60,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"27","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1680,"wires":[["1db1c768.91ad81"]]},{"id":"23922ecd.99fc62","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S60","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":61,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"28","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1740,"wires":[["5df60e71.08dfb8"]]},{"id":"7b1bdc0.b3a0224","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S61","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":62,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"29","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1800,"wires":[["8d562f00.777b6"]]},{"id":"8be65bb8.ce9318","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S62","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":63,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"30","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1860,"wires":[["d56052e3.dcf298"]]},{"id":"a3d80626.9d83a8","type":"ui_switch","z":"5b1bbd36.f97f94","name":"S63","label":"Switch {{msg.topic}}","group":"59e306b3.a0b168","order":64,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"31","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":1920,"wires":[["c6ea2846.4258e8"]]},{"id":"3a26ed1.9900292","type":"function","z":"5b1bbd36.f97f94","name":"Modbus Flex Write","func":"msg_o={payload:{ 'address': 1032+Number(msg.topic), 'value': msg.payload, 'fc': 5, 'unitid': 1, 'quantity': 1 }}\nreturn msg_o;","outputs":1,"noerr":0,"x":1230,"y":1080,"wires":[["5d9b5dd1.848bd4"]]},{"id":"55c24147.c1da28","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":60,"wires":[["3a26ed1.9900292"]]},{"id":"a77c843e.931e5","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":120,"wires":[["3a26ed1.9900292"]]},{"id":"32bea9f2.c7dcae","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":180,"wires":[["3a26ed1.9900292"]]},{"id":"e8766422.bbcd48","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":240,"wires":[["3a26ed1.9900292"]]},{"id":"ac7beac1.df4358","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":300,"wires":[["3a26ed1.9900292"]]},{"id":"d60798d9.a614c8","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":360,"wires":[["3a26ed1.9900292"]]},{"id":"c9cb7d62.92fa3","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":420,"wires":[["3a26ed1.9900292"]]},{"id":"873cde06.269a78","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":480,"wires":[["3a26ed1.9900292"]]},{"id":"e71a5fa.241a42","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":540,"wires":[["3a26ed1.9900292"]]},{"id":"85028811.173138","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":600,"wires":[["3a26ed1.9900292"]]},{"id":"b3df9927.ac1dd8","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":660,"wires":[["3a26ed1.9900292"]]},{"id":"2593383f.5e77","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":720,"wires":[["3a26ed1.9900292"]]},{"id":"16f9d5d7.7e09c2","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":780,"wires":[["3a26ed1.9900292"]]},{"id":"14cf4492.dfc473","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":840,"wires":[["3a26ed1.9900292"]]},{"id":"c9e34406.d167e8","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":900,"wires":[["3a26ed1.9900292"]]},{"id":"7b8c4f92.1555f8","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":960,"wires":[["3a26ed1.9900292"]]},{"id":"98a04467.b82848","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1020,"wires":[["3a26ed1.9900292"]]},{"id":"456d2417.22ad34","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1080,"wires":[["3a26ed1.9900292"]]},{"id":"dcdd73ca.ce6f4","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1140,"wires":[["3a26ed1.9900292"]]},{"id":"8f8e7337.5f185","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1200,"wires":[["3a26ed1.9900292"]]},{"id":"cfac30ce.315a28","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1260,"wires":[["3a26ed1.9900292"]]},{"id":"2509ac59.cea09c","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1320,"wires":[["3a26ed1.9900292"]]},{"id":"dc069241.b3e348","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1380,"wires":[["3a26ed1.9900292"]]},{"id":"437c448.2aa9c3c","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1440,"wires":[["3a26ed1.9900292"]]},{"id":"7e72caa.98d9cb4","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1500,"wires":[["3a26ed1.9900292"]]},{"id":"deaf2f7c.a5f78","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1560,"wires":[["3a26ed1.9900292"]]},{"id":"420f1efb.bf1f28","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1620,"wires":[["3a26ed1.9900292"]]},{"id":"1db1c768.91ad81","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1680,"wires":[["3a26ed1.9900292"]]},{"id":"5df60e71.08dfb8","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1740,"wires":[["3a26ed1.9900292"]]},{"id":"8d562f00.777b6","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1800,"wires":[["3a26ed1.9900292"]]},{"id":"d56052e3.dcf298","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1860,"wires":[["3a26ed1.9900292"]]},{"id":"c6ea2846.4258e8","type":"rbe","z":"5b1bbd36.f97f94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":1920,"wires":[["3a26ed1.9900292"]]},{"id":"5d9b5dd1.848bd4","type":"modbus-flex-write","z":"5b1bbd36.f97f94","name":"","showStatusActivities":false,"showErrors":false,"server":"7c95cbc3.0ea12c","x":1430,"y":1080,"wires":[["97dabcc2.5322f8"],[]]}]